= simple_form_for(@mining) do |f|
  = f.error_notification

  .form-inputs
    = f.input :rig_id, as: :hidden
    = f.input :code, as: :hidden
    = f.input :miner
    = f.input :arg

  .form-actions
    = f.submit "Start Mining", class: 'btn btn-primary'
