%h1 Mining
= link_to new_mining_path, class: 'btn btn-primary' do
  = icon 'play'
  Set Mining
&nbsp;
= link_to minings_stop_path, class: 'btn btn-danger' do
  = icon 'stop'
  Stop Mining
%hr/
%h1 Logs
%p
  - @mining_logs.each do |mining_log|
    = mining_log.log_line
    %br/