%h1 Mining
%p
  %strong Current mining command:
  = @mining.to_s
= link_to new_mining_path, class: 'btn btn-primary' do
  = icon 'fas', 'play'
  Set Mining
&nbsp;
= link_to minings_stop_path, class: 'btn btn-danger' do
  = icon 'fas', 'stop'
  Stop Mining
%hr/
%h1 Logs
%p
  %strong currently logs are not auto reload by themself. please, refresh this page manually for got new logs.
%p
  - @mining_logs.each do |mining_log|
    = mining_log.log_line
    %br/