%h1 Settings
= simple_form_for @rig, url: settings_path do |f|
  = f.input :name
  %h2 Overclock
  %table.table.table-responsive.table-striped
    %thead
      %tr
        %th{ scope: 'col' } No
        %th{ scope: 'col' } GPU
        %th{ scope: 'col' } Power limit (W)
        %th{ scope: 'col' } Memory overclock (Hz)
        %th{ scope: 'col' } GPU overclock (Hz)
    %tbody
      - i = 1
      = f.simple_fields_for(:gpus) do |gpu_f|
        %tr
          %td= i
          %td
            = gpu_f.object.name
            = gpu_f.input :id, as: :hidden
          %td= gpu_f.input :power_limit, label: false
          %td= gpu_f.input :mem_clock, label: false
          %td= gpu_f.input :gpu_clock, label: false
        - i += 1
  .form-actions
    = f.submit 'Save', class: 'btn btn-primary'
%hr/
%h1 Command
= link_to settings_reboot_path, class: 'btn btn-warning' do
  = icon 'fas', 'undo'
  Reboot
&nbsp;
= link_to settings_shutdown_path, class: 'btn btn-danger' do
  = icon 'fas', 'stop'
  Shutdown