!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }
    %title= @page_title
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light
      %a.navbar-brand{:href => root_url} Cat Miner
      %button.navbar-toggler{"aria-controls" => "navbar", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbar.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item.nav-link.active
            %a{ href: root_path }
              = icon 'fas', 'chart-bar'
              Status
              %span.sr-only (current)
          %li.nav-item.nav-link
            %a{ href: minings_path }
              = icon 'fas', 'play'
              Mining
          %li.nav-item.nav-link
            %a{ href: settings_path }
              = icon 'fas', 'cog'
              Settings
    - if alert.present?
      .container-fluid
        .alert.alert-danger{ role: 'alert' }
          = alert
          %button.close{ type: 'button', 'data-dismiss': 'alert', 'aria-label': 'ปิด' }
            %span{ 'aria-hidden': 'true' } &times;
    - if notice.present?
      .container-fluid
        .alert.alert-primary{ role: 'alert' }
          = notice
          %button.close{ type: 'button', 'data-dismiss': 'alert', 'aria-label': 'ปิด' }
            %span{ 'aria-hidden': 'true' } &times;
    .container-fluid
      = yield
      %footer
        %hr/
        %p.text-center
          %strong CatMiner Client
          by
          %strong
            %a{ href: 'https://www.catmine.co' } CatMine
          publish and develop under
          %strong GPL Lisence,
          2018
